<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Upload</title>
  </head>
  <body style="background-color: rgb(35, 35, 35); color: whitesmoke">
    <h1>File Upload!</h1>

    <br />
    <br />
    <br />
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="profileImage" multiple />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
